body{
    font-family: "Roboto";
}

body {
    width: 100%;
    margin:20px;
    padding:0;
}

footer {
    text-align: center;
    margin:20px auto 20px auto;
    font-size:12px;
}

footer>p>i{
    color:red;
}

.code{
    background-color: gainsboro;
    color:#FF7271;
}